@using System.Data
@model Bizagi.Business.Reports.Models.ChartsModel
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/dashboard.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="pageBody">
        <div class="dashboard">
            <div class="dashboard3Col">
                <div class="dashboardCol">
                    <div class="dashboardItemHeader">@Model.ModelDef1.Name</div>
                    @if (!Model.ModelDef1.isDetail)
                    {
                        <div class="dashboardItemBody">
                            @Model.ModelDef1.Model
                        </div>
                    }
                    else
                    {
                        <div>
                            <p>
                                @Html.ActionLink("Descargar Archivo", "Download1")
                            </p>
                            <div style="height: 200px; overflow: auto; text-align:center">
                                <table border="1">
                                    <thead>
                                        <tr>
                                            @foreach (DataColumn column in Model.ModelDef1.Detail.Columns)
                                            {
                                            <th>@column.ColumnName</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (DataRow row in Model.ModelDef1.Detail.Rows)
                                        {
                                        <tr>
                                            @foreach (DataColumn column in Model.ModelDef1.Detail.Columns)
                                                {
                                            <td>@row[column]</td>
                                                }
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    }
                    <div class="dashboardItemHeader">@Model.ModelDef2.Name</div>
                    @if (!Model.ModelDef2.isDetail)
                    {
                        <div class="dashboardItemBody">
                            @Model.ModelDef2.Model
                        </div>
                    }
                    else
                    {
                        <div>
                            <p>
                                @Html.ActionLink("Descargar Archivo", "Download2")
                            </p>
                            <div style="height: 200px; overflow: auto; text-align:center">
                                <table border="1">
                                    <thead>
                                        <tr>
                                            @foreach (DataColumn column in Model.ModelDef2.Detail.Columns)
                                            {
                                            <th>@column.ColumnName</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (DataRow row in Model.ModelDef2.Detail.Rows)
                                        {
                                        <tr>
                                            @foreach (DataColumn column in Model.ModelDef2.Detail.Columns)
                                                {
                                            <td>@row[column]</td>
                                                }
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    }                                
                </div>

                <div class="dashboardCol">
                    <div class="dashboardItemHeader">@Model.ModelDef3.Name</div>
                    @if (!Model.ModelDef3.isDetail)
                    {
                        <div class="dashboardItemBody">
                            @Model.ModelDef3.Model
                        </div>
                    }
                    else
                    {
                        <div>
                            <p>
                                @Html.ActionLink("Descargar Archivo", "Download3")
                            </p>
                            <div style="height: 200px; overflow: auto; text-align:center">
                                <table border="1">
                                    <thead>
                                        <tr>
                                            @foreach (DataColumn column in Model.ModelDef3.Detail.Columns)
                                            {
                                                <th>@column.ColumnName</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (DataRow row in Model.ModelDef3.Detail.Rows)
                                        {
                                            <tr>
                                                @foreach (DataColumn column in Model.ModelDef3.Detail.Columns)
                                                {
                                                    <td>@row[column]</td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    }     
                    <div class="dashboardItemHeader">@Model.ModelDef4.Name</div>
                    @if (!Model.ModelDef4.isDetail)
                    {                        
                        <div class="dashboardItemBody">
                            @Model.ModelDef4.Model
                        </div>
                    }
                    else
                    {
                        <div>
                            <p>
                                @Html.ActionLink("Descargar Archivo", "Download4")
                            </p>
                            <div style="height: 200px; overflow: auto; text-align:center">
                                <table border="1">
                                    <thead>
                                        <tr>
                                            @foreach (DataColumn column in Model.ModelDef4.Detail.Columns)
                                            {
                                            <th>@column.ColumnName</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (DataRow row in Model.ModelDef4.Detail.Rows)
                                        {
                                        <tr>
                                            @foreach (DataColumn column in Model.ModelDef4.Detail.Columns)
                                                {
                                                <td>@row[column]</td>
                                                }
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </div>
                <div class="dashboardFooter"></div>
            </div>
        </div>
    </div>
</body>
</html>