@using Bizagi.Business.Reports.Models
@using Bizagi.Business.Reports.Components
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/themes/start/jquery-ui-1.10.3.custom.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/prettify-small-1-Jun-2011/google-code-prettify/prettify.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/dashboard.css")" rel="stylesheet" type="text/css" />
    

    <script src="@Url.Content("~/Scripts/jquery-2.0.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Highcharts-4.0.1/js/highcharts-all.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Highcharts-4.0.1/js/modules/funnel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/core.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/prettify-small-1-Jun-2011/google-code-prettify/prettify.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json_parse.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json_parse_state.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/cycle.js")" type="text/javascript"></script>    
</head>

<body onload="prettyPrint()">
    <div class="page">
        <header>
            <div id="title">
                <h1>Bizagi Reportes de Negocio</h1>
            </div>
            <div id="logindisplay">
                &nbsp;
            </div>
            <nav>

            </nav>
        </header>
        <section id="main">
            <div style="float: left; width: 20%">
                <div id="accordion">
                    <h3>
                        <a href="#">Reportes</a>
                    </h3>
                    <div data-panel-index="0">
                        <ul class="nav navbar-nav">
                            @*<li>*@
                            @{
                                string roles = string.Empty;
                                if (Session["roles"] != null)
                                {
                                    roles = (string)Session["roles"];
                                }
                                List<MenuBO> myMenu = Util.GetInitialMenu(roles);
                                List<MenuBO> myDashBoard = Util.GetDashBoardMenu(myMenu);
                                Session["myMenu"] = myMenu;
                                var plist = myMenu.Where(m => m.ParentID == null).ToList();
                                if (plist != null && plist.Count > 0)
                                {
                                    foreach (var pitem in plist)
                                    {
                                        if (@pitem.GraphicsType != 18)
                                        {
                                            @Html.ActionLink(@pitem.Title, @pitem.URL, @pitem.Description, new { id = @pitem.Oid } , new AjaxOptions { HttpMethod = "POST" });
                                            
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Información Origen-" + @pitem.Title, "Details", "OriginInformation", new { id = @pitem.Oid }, new AjaxOptions { HttpMethod = "POST" });
                                        }                                        
                                    }
                                    if (myDashBoard.Count > 0)
                                    {
                                        @Ajax.ActionLink("DashBoard", "DashBoard", "DashBoard", new AjaxOptions { HttpMethod = "POST" });
                                    }

                                }
                            }
                            @*</li>*@
                        </ul>
                    </div>
                </div>
            </div>
            <div style="float: left; width: 79%; padding-left: 10px">
                @RenderBody()
            </div>
            <div style="clear: both">
            </div>
        </section>
        <footer></footer>
    </div>
    @RenderSection("JavaScripts", required: false)
</body>
</html>
